/*Stylesheet for "Thrifting in NYC" website. Individual Project for Tech Connect at NYPL.*/

/* My color palette is from http://www.colorhunt.co 
#ecf0f1 for the body background-color, a:hover, font-color of "Send" button on Contact page
#33cccc for the background-color of the main navigation
#2980b9 for h4, the background-color of the secondary navigation buttons on the "Stores" page, background-color of "Send" button on the Contact page, background-color of "Back to Top" button, links, and a:visited
#2c3e50 for the body font-color and html background-color
#000000 (black) for the font-color of the buttons on the "Stores" page and border of "Back to Top" button
*/

body {
	font-family: 'Merriweather', serif;
	background-color: #ecf0f1;
	color: #2c3e50;
}

main {
	width: 90vw;
	min-height: 75vh;
	margin: 85px auto 45px;
}

main a {
	color: #2980b9;
	text-decoration: underline;
}

h1 {
	text-transform: uppercase;
	text-align: center;
}

.title {
	font-style: italic;
}

figure {
	text-align: center;
}

figcaption {
	font-size: 12px;
}

/* Font of some words will be bold */
.bold {
	font-weight: bold;
	text-decoration: underline;
}

footer {
	font-size: 12px;
	text-align: center;
}

/* Navigation */
.navbar {
	position: fixed;
	z-index: 1;
	font-family: 'Open Sans', sans-serif;
	top: 0;
	width: 100%;
	background-color: #33cccc;
}

.navbar .nav-item {
	font-size: 1.25em;
}

.navbar-brand {
	font-size: 1.5em;
}

nav a, nav a:visited {
	color: #2c3e50;
}

/* About page */
#about-accordion .card-link {
	color: #2980b9;
	word-wrap: normal;
	text-align: left;
}

#about-accordion .card-link:hover {
	text-decoration: underline;
}

/* Images on About page */
.recycle, .flea-market {
	width: 25vw;
	text-align: center;
}

/* Stores page */
.stores #instructions {
	text-align: center;
}
.stores section {
	border: 1px solid #2980b9;
	border-radius: 5px;
	padding: 1em;
}
.stores .btn-outline-info {
	text-decoration: none;
}
.stores-buttons {
	text-align: center;
	margin-bottom: 1em;
}
.stores-buttons .btn {
	background-color: #2980b9;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	margin-top: 0.25em;
}
.stores-buttons .btn:hover {
	background-color: #fff;
	color: #2980b9;
	border: 1px solid #2980b9;
}

/*I use h4 as a heading for different sections within <body>. I wanted space between the last <p> of a section and <h4> of a new section, so I added margin-top to h4.
On my Contact page, I wanted some space between <h1> and <form> since all my other pages have a space between <h1> and the following tag, which is usually <h4>. I want all my pages to be uniform in their layout. I decided to add <form> to the code I wrote for <h4>. I like how this changes the font color and font-size of the form, too.*/
h4, form {
	color: #2980b9;
	font-size: 18px;
	margin-top: 60px;
}



/*Most images will use the same CSS code (under class .img). For certain images, I decided to give them their own class so I could do something different with their layout or size.*/
.img img {
	width: 25vw;
	text-align: center;
}

/*".book" is on the Resources page.*/
.img, .book {
	/* float: right; */
	font-size: 12px;
}

/* Image on Home page.*/
.thrift {
	text-align: center;
}

.book img {
	height: 350px;
}

/*Unordered list for Tips page.*/
ul {
	padding-left: 0px;
}

li {
	margin-left: 40px;
	margin-right: 40px;
}

/*Form for Contact page.*/
fieldset {
	padding-left: 40px;
}

input {
	height: 20px;
	width: 70%;
}

textarea{
	height: 200px;
	width: 70%;
}

/*"Send" button for Contact page. While the Send button uses CSS that is similar to the buttons created with the .storenav CSS, I felt was best to create separate CSS for the "Send" button. I wanted the "Send" button to look a little different from the .storenav buttons. I thought separate CSS would be less confusing for the web browser.*/
.send a {
	text-decoration: none;
	text-transform: uppercase;
	background-color: #2980b9;
	padding: 10px;
	border-radius: 20px;
	width: 100px;
	text-align: center;
	color: #ecf0f1;
	display: inline-block;
}


/*This id is for the footer on the "Tips" page. On that page, there is an image that sits close to the footer. I wanted a little more space between the footer and the image, so I added padding-top to the footer on this page.*/
#spaceabove {
	padding-top: 100px;
}

/*This makes the website mobile-friendly.*/
@media screen and (max-width: 600px) and (orientation: portrait) {
	#about-accordian .button {
		width: inherit;
	}
	/* body {
		width: 100%;
	}
	.nav li {
		display: block;
	}
	.back {
		display: none;
	}
	.head p:first-child {
		color: #2c3e50;
		font-size: 30px;
		margin-top: 30px;
		margin-bottom: 0;
	}
	.head p:nth-child(2) {
		color: #2c3e50;
		font-style: italic;
		font-size: 20px;
	}
	.storenav {
		margin: 0;
	}
	.storenav li {
		display: block;
		margin: 0 0 30px 0;
	}
	.img {
		margin-bottom: 20px;
	}
	.img img, .thrift img {
		width: 70vw;
		float: none;
		margin: 0 auto;
	}
	.book img {
		height: 300px;
		float: none;
	}
	.footer {
		border-top: 1px solid #2c3e50;
	}
	#spaceabove {
		padding-top: 0;
	} */
}

/*Modify "Back to Top" button for tablets.*/
/* @media screen and (max-height: 1025px) and (orientation: portrait) {
	.back {
		display: none;
} */

/* This makes the website tablet-friendly. */
@media screen and (min-width: 600px) and (max-width: 1050px) and (orientation: portrait) {
	body {
		width: 100%;
	}
	.nav li {
		margin: auto 10px;
	}
	.back {
		display: none;
	}
	.recycle img {
		width: 30vw;
	}
	.img{
		width: 75vw;
		float: none;
	}
	.storenav li {
		display: inline;
		margin: 0 20px;
	}
	.footer {
		border-top: 1px solid #2c3e50;
	}
	#spaceabove {
		padding-top: 0;
	}
}

/*This makes the website tablet-friendly.*/
/* @media screen and (max-height: 1024px) {
	body {
		width: 100%;
	}
	.nav li {
		margin: auto 10px;
	}
	.back {
		display: none;
	}
	.img img {
		width: 80vw;
	}
	.recycle img {
		width: 30vw;
	}
	.storenav li {
		display: inline;
		margin: 0 20px;
	}
	.footer {
		border-top: 1px solid #2c3e50;
	}
	#spaceabove {
		padding-top: 0;
	}
} */