/*Stylesheet for "Thrifting in NYC" website. Individual Project for Tech Connect at NYPL.*/

/* My color palette is from http://www.colorhunt.co 
#ecf0f1 for the body background-color, a:hover, font-color of "Send" button on Contact page
#33cccc for the background-color of the main navigation
#2980b9 for h4, the background-color of the secondary navigation buttons on the "Stores" page, background-color of "Send" button on the Contact page, background-color of "Back to Top" button, links, and a:visited
#2c3e50 for the body font-color and html background-color
#000000 (black) for the font-color of the buttons on the "Stores" page and border of "Back to Top" button
*/

body {
	font-family: 'Merriweather', serif;
	background-color: #ecf0f1;
	color: #2c3e50;
}

main {
	width: 90vw;
	min-height: 75vh;
	margin: 85px auto 45px;
}

main a {
	color: #2980b9;
	text-decoration: underline;
}

h1 {
	text-transform: uppercase;
	text-align: center;
}

.title {
	font-style: italic;
}

figure {
	text-align: center;
}

figcaption {
	font-size: 12px;
}

/* Font of some words will be bold and underlined */
.bold {
	font-weight: bold;
	text-decoration: underline;
}

footer {
	font-size: 12px;
	text-align: center;
}

/* Navigation */
.navbar {
	position: fixed;
	z-index: 1;
	font-family: 'Open Sans', sans-serif;
	top: 0;
	width: 100%;
	background-color: #33cccc;
}

.navbar .nav-item {
	font-size: 1.25em;
	margin: auto 1em;
}

.navbar-brand {
	font-size: 1.5em;
}

nav a, nav a:visited {
	color: #2c3e50;
}

/* About page */
#about-accordion .card-link {
	color: #2980b9;
	word-wrap: normal;
	text-align: left;
}

#about-accordion .card-link:hover {
	text-decoration: underline;
}

/* Images on About page */
.recycle, .flea-market {
	width: 25vw;
	text-align: center;
}

/* Stores page */
.stores #instructions {
	text-align: center;
}
.stores .btn-outline-info {
	text-decoration: none;
}
.stores-buttons {
	text-align: center;
	margin-bottom: 1em;
}
.stores-buttons .btn {
	background-color: #2980b9;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	margin-top: 0.25em;
}
.stores-buttons .btn:hover {
	background-color: #fff;
	color: #2980b9;
	border: 1px solid #2980b9;
}
#salvation-army br {
	display: none;
}

/* Tips page */
.tips li {
	margin-bottom: 1em;
}

/* Resources page */
.resources .card-header {
	text-align: center;
}

.resources .card-text {
	display: none;
}

.resources .btn {
	margin: 1em;
}

.coolirpa a {
	text-decoration: none;
	text-align: center;
}

.coolirpa br {
	display: none;
}

/* Contat page */
.contact form {
	color: #2980b9;
	text-align: center;
	margin: auto;
}

.contact .card {
	width: 50%;
}

.contact h5 {
	margin: 1em;
}

.contact .form-group label {
	text-align: right;
}

.contact input, textarea {
	width: 90%;
}

.contact button {
	color: #2980b9;
	border: 2px solid #2980b9;
	border-radius: 5px;
}

.contact button:hover {
	background-color: #2980b9;
	color: #fff;
}

/* Quiz page */
.quiz #prompt {
	text-align: center;
	color: #2980b9;
	margin: 1em;
}

.quiz li, .form-check, .alert, .source {
	margin-top: 1em;
}

.quiz .alert, .source {
	/* visibility: hidden; */
	display: none;
	width: 25%;
}

.quiz #quiz-submit {
	color: #fff;
}

/* For smartphones */
@media only screen and (max-width: 600px) {
	.recycle {
		width: 50vw;
	}
	#salvation-army br, .coolirpa br {
		display: initial;
	}
	.contact .form-group label {
		text-align: left;
	}
	.contact .card {
		width: 100%;
	}
	.quiz .alert {
		width: initial;
	}
}

/* For tablets */
@media only screen and (min-width: 768px) {
	.contact .form-group label {
		text-align: left;
	}
}